# ========== 邮箱（QQ）配置（必填）==========
#qq邮箱账号
MAIL_USERNAME=your_email@qq.com
# QQ邮箱授权码（登录qq邮箱->设置->账号与安全->安全设置->生成授权码）
MAIL_PASSWORD=your_smtp_password
# ========== AI 模型 API Key（必填） ==========
# 阿里云百炼平台（用于 RAG 向量嵌入 + 重排序 + 千问OCR降级）
DASHSCOPE_API_KEY=your_dashscope_api_key
# DeepSeek 官方 API（主模型）
DEEPSEEK_API_KEY=your_deepseek_api_key
# ============================== 以下是选填配置 ==============================
# ========== 钉钉配置（可选，不填不影响核心流程【但无法登录钉钉创建日程】，若选择了，则三个都要填）==========
#首先来到https://open-dev.dingtalk.com/点击上面的应用开发->创建应用->权限管理：搜索个人,点击权限信息（全选），然后点批量应用
#再搜索日程，代办，和之前一样的操作。
#点击左侧版本管理与发布，发布版本。
#下一步点击凭证与基础信息获取Client ID (下面的DINGTALK_APP_KEY）和Client Secret (下面的DINGTALK_APP_SECRET）
#点击左侧分享设置，填写回调域名，和下面的BACKEND_BASE_URL一致，然后再次发布版本保存修改。
DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=
#使用内网穿透后的地址（穿透 8000 端口【http协议】）
BACKEND_BASE_URL=
# ========== PaddleOCR（可选，不填自动降级千问OCR）==========
#访问飞浆官网登录后->点击左下角令牌->获得PaddleOCR的Access Token
PADDLE_OCR_ACCESS_TOKEN=
